
.bg-purple {
    background-color: #9900cc;
}

.text-purple {
    color: #9900cc;
}


.bg-red {
    background-color: #cc0000;
}

.text-red {
    color: #dd0000;
}


.bg-orange {
    background-color: #ff5500;
}

.text-orange {
    color: #ff5500;
}


.bg-yellow {
    background-color: #cc8800;
}

.text-yellow {
    color: #cc8800;
}


.bg-green {
    background-color: #007700;
}

.text-green {
    color: #007700;
}



.bg-teal {
    background-color: #33bbbb;
}

.text-teal {
    color: #33bbbb;
}


.bg-blue {
    background-color: #0066cc;
}

.text-blue {
    color: #0066cc;
}


.bg-gray {
    background-color: #444444;
}

.text-gray {
    color: #444444;
}


