/* ===== [ Width Style ] ===== */

.wide-380 { width: 380px; }
.max-wide-380 { max-width: 380px; }

.wide-320 { width: 320px; }
.max-wide-320 { max-width: 320px; }

.wide-275 { width: 275px; }
.max-wide-275 { max-width: 275px; }

.wide-220 { width: 220px; }
.max-wide-220 { max-width: 220px; }

.wide-160 { width: 160px; }
.max-wide-160 { max-width: 160px; }


/* ===== [ Padding Style ] ===== */

.pad-5 { padding: 5px; }
.pad-10 { padding: 10px; }
.pad-20 { padding: 20px; }
.pad-40 { padding: 40px; }
.pad-60 { padding: 60px; }
.pad-80 { padding: 80px; }

.pad-t-5 { padding-top: 5px; }
.pad-b-5 { padding-bottom: 5px; }
.pad-r-5 { padding-right: 5px; }
.pad-l-5 { padding-left: 5px; }

.pad-t-10 { padding-top: 10px; }
.pad-b-10 { padding-bottom: 10px; }
.pad-r-10 { padding-right: 10px; }
.pad-l-10 { padding-left: 10px; }

.pad-t-20 { padding-top: 20px; }
.pad-b-20 { padding-bottom: 20px; }
.pad-r-20 { padding-right: 20px; }
.pad-l-20 { padding-left: 20px; }

.pad-t-40 { padding-top: 40px; }
.pad-b-40 { padding-bottom: 40px; }
.pad-r-40 { padding-right: 40px; }
.pad-l-40 { padding-left: 40px; }

.pad-t-60 { padding-top: 60px; }
.pad-b-60 { padding-bottom: 60px; }
.pad-r-60 { padding-right: 60px; }
.pad-l-60 { padding-left: 60px; }

.pad-t-80 { padding-top: 80px; }
.pad-b-80 { padding-bottom: 80px; }
.pad-r-80 { padding-right: 80px; }
.pad-l-80 { padding-left: 80px; }

/* ===== [ Margin Style ] ===== */

.mar-5 { margin: 5px; }
.mar-10 { margin: 10px; }
.mar-20 { margin: 20px; }
.mar-40 { margin: 40px; }
.mar-60 { margin: 60px; }
.mar-80 { margin: 80px; }

.mar-t-5 { margin-top: 5px; }
.mar-b-5 { margin-bottom: 5px; }
.mar-r-5 { margin-right: 5px; }
.mar-l-5 { margin-left: 5px; }

.mar-t-10 { margin-top: 10px; }
.mar-b-10 { margin-bottom: 10px; }
.mar-r-10 { margin-right: 10px; }
.mar-l-10 { margin-left: 10px; }

.mar-t-20 { margin-top: 20px; }
.mar-b-20 { margin-bottom: 20px; }
.mar-r-20 { margin-right: 20px; }
.mar-l-20 { margin-left: 20px; }

.mar-t-40 { margin-top: 40px; }
.mar-b-40 { margin-bottom: 40px; }
.mar-r-40 { margin-right: 40px; }
.mar-l-40 { margin-left: 40px; }

.mar-t-60 { margin-top: 60px; }
.mar-b-60 { margin-bottom: 60px; }
.mar-r-60 { margin-right: 60px; }
.mar-l-60 { margin-left: 60px; }

.mar-t-80 { margin-top: 80px; }
.mar-b-80 { margin-bottom: 80px; }
.mar-r-80 { margin-right: 80px; }
.mar-l-80 { margin-left: 80px; }