<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">

  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

  <title>RPGenerator</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/spacing.css">
  <link rel="stylesheet" type="text/css" href="css/colors.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="loading-bar/loading-bar.css"/>
  <script type="text/javascript" src="loading-bar/loading-bar.js"></script>
</head>

<body>
<div class="text-white text-center bg-primary">
  <h5 class="pad-10"> Test </h5>
</div>

<div class="text-white text-center bg-primary">
  <h5 id="demo" class="pad-10"></h5>
</div>

<div class="container pad-40">
	<div class="row justify-content-center">
		<div id="player" class="mar-20 text-center" style="height: 60px; width: 60px; border: 5px solid blue; padding: 6px;">
			<h3 id="player-hp"></h3>
		</div>
		<div id="enemy" class="mar-20 text-center" style="height: 60px; width: 60px; border: 5px solid red; padding: 6px;">
			<h3 id="enemy-hp"></h3>
		</div>
	</div>

  <div class="row justify-content-center">
    <div id="attack-select" class="btn-group btn-toolbar btn-group-toggle">
      <!-- Void Fissure -->  
      <label class="btn text-white pad-10 mar-5 btn-blue" data-toggle="collapse" href="#collapseVoidfissure" role="button" aria-expanded="false" aria-controls="collapseVoidfissure">
        <input type="radio" name="ability" value="Void Fissure" v-model="attackSelection">
        <h6>Void Fissure</h6>
      </label>

      <!-- Light Shatter -->
      <label class="btn text-white pad-10 mar-5 btn-blue" data-toggle="collapse" href="#collapseLightshatter" role="button" aria-expanded="false" aria-controls="collapseLightshatter">
        <input type="radio" name="ability" value="Light Shatter" v-model="attackSelection">
        <h6>Light Shatter</h6>
      </label>
    </div>
  </div><!-- /.row -->

	<div class="row justify-content-center">
		<button id="attack-btn" class="btn btn-primary mar-20">Attack</button>
	</div>

	<div class="text-center pad-t-20">
    <h4 id="game-message" class="pad-b-10"></h4>
  </div>

</div>

<script>
var player = { 
	hp: 20, 
	att: 6, 
	def: 3, 
	int: 2,
	res: 2,
	mana: 1,
	basic: {
		id: 'basicattack',
		name: 'Basic Attack',
		attCalc : function() {
			return player.att + 2;
		}
	},
	special: {
		id: 'specialattack',
		name: 'Special Attack',
		attCalc : function() {
			return player.att * 2;
		}
	} 
};

var enemy = { hp: 20, att: 5, def: 2 };
var selectedAttack = undefined;

console.log("Player HP: " + player.hp);
console.log("Attack Calc " + player.basic.attCalc());

$(document).ready(function(){   
	printHP();

	// ===== Attack Selection =====
	$("#basic-btn").click(function(){
		selectedAttack = player.basic.attCalc();
		$("basic-btn").toggleClass("active");
	});
	$("#special-btn").click(function(){
		selectedAttack = player.special.attCalc();
		console.log(selectedAttack);
	});

	// ===== Attack Routine =====
	$("#attack-btn").click(function(){
		if (enemy.hp > 0) { // --- Only decrements if HP > 0
			playerAttack();
			if (enemy.hp > 0) { // --- Checks if enemy is dead before enemy attacks
				enemyAttack();
			}
		}
		if (enemy.hp <= 0) { // --- If enemy is defeated, display player win
			enemy.hp = 0;
			printHP();
			playerWin();
		}
	});
});

// ========== Functions ==========
const printHP = () => {
	$("#player-hp").text(player.hp);
	$("#enemy-hp").text(enemy.hp);
}

const regenMana = () => {
	current.mana += player.mana;
}

const playerAttack = () => {
	let damage = parseInt(selectedAttack) - parseInt(enemy.def);
	enemy.hp -= damage;
	printHP();
	console.log('You attacked and did ' + damage + ' damage!');
	$('#game-message').addClass('text-blue').removeClass('text-green text-red');
	$('#game-message').text('You attacked and did ' + damage + ' damage!');
	$('#attack-btn,#basic-btn,#special-btn').addClass("disabled unclickable");
}

const enemyAttack = () => {
	setTimeout(function(){ 
		let damage = parseInt(enemy.att) - parseInt(player.def);
		player.hp -= damage;
		printHP();
		console.log('The enemy attacked and did ' + damage + ' damage!');
		$('#game-message').addClass('text-red').removeClass('text-green text-blue');
		$('#game-message').text('The enemy attacked and did ' + damage + ' damage!');
		$('#attack-btn,#basic-btn,#special-btn').removeClass("disabled unclickable");
	}, 1000);
}

const playerWin = () => {
	$('#basic-btn').addClass("disabled unclickable");
	$('#game-message').addClass('text-green').removeClass('text-blue text-red');
  $('#game-message').text('Enemy defeated. You win!');
}
</script>

<footer class="footer mt-auto text-center bg-lightgray">
  <div class="container pad-20">
    <div class="pad-b-20">
      <a class="btn btn-dark text-white mar-r-10 mar-l-10" onclick="restart()" role="button">Restart</a>
      <a class="btn btn-dark text-white mar-r-10 mar-l-10" href="player-menu.php" role="button">Continue</a>
    </div>
    <span class="text-muted">&copy;RPGenius 2019. All Rights Reserved.</span>
  </div>

  <script>
  	function restart() {
  		location.reload(true);
  	}
    function goBack() {
      window.history.back();
    }
  </script>

</footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  
</body>

</html>
